---
---

@import "minima";

.frame-wrapper {
    text-align: center;
    // height: 370px;
    // height: 405px;
}

iframe {
    max-width: 92vw;
}

.photo-table {
    border: none;
}

.photo {
    border: none;
    padding: 3px;
    width: 50%;
}